<div class="grid p-7">
  <div
    class="col-6"
    style="
      background-color: #728ca6;
      text-align: center;
      border-style: solid;
      border-color: #133353;
    "
  >
    <img src="../../assets/jay-cv-project.png" />
  </div>
  <div class="col-6">
    <div class="card">
      <h5>Login</h5>
      <div class="field">
        <label for="email">Username</label>
        <input
          id="email"
          [(ngModel)]="email"
          type="text"
          class="inputfield w-full"
          pInputText
        />
      </div>
      <div class="field">
        <label for="password">Password</label>
        <input
          id="password"
          pInputText
          [(ngModel)]="password"
          type="password"
          class="inputfield w-full"
        />
      </div>
      <div class="field">
        <button
          style="margin: 2%"
          pButton
          type="button"
          label="Login"
          id="login"
          (click)="login()"
        ></button>
        <button
          style="margin: 2%"
          pButton
          type="button"
          label="Sign Up"
          routerLink="/register"
          class="p-button-success"
        ></button>
      </div>
    </div>
  </div>
</div>
