<div class="grid p-7" *ngIf="!userIntaitedLogin">
  <div
    class="col-6"
    style="
      background-color: #728ca6;
      text-align: center;
      border-style: solid;
      border-color: #133353;
    "
  >
    <img src="../../assets/jay-cv-project.png" />
  </div>
  <div class="col-6">
    <div class="card">
      <form [formGroup]="userform" (ngSubmit)="onSubmit(userform.value)">
        <h5>Login</h5>
        <div class="field grid">
          <div class="col">
            <input
              id="email"
              [(ngModel)]="email"
              type="text"
              class="inputfield w-full"
              pInputText
              formControlName="email"
            />
          </div>
          <div class="col">
            <p-message
              severity="error"
              text="Email is required"
              *ngIf="
                !userform.controls['email'].valid &&
                userform.controls['email'].dirty
              "
            ></p-message>
          </div>
        </div>
        <div class="field grid">
          <div class="col">
            <input
              id="password"
              pInputText
              [(ngModel)]="password"
              type="password"
              class="inputfield w-full"
              formControlName="password"
            />
          </div>
          <div class="col">
            <p-message
              severity="error"
              text="Password is required"
              *ngIf="
                !userform.controls['password'].valid &&
                userform.controls['password'].dirty
              "
            ></p-message>
          </div>
        </div>
        <div class="field">
          <button
            style="margin: 2%"
            pButton
            type="button"
            label="Login"
            id="login"
            (click)="login()"
          ></button>
          <button
            style="margin: 2%"
            pButton
            type="button"
            label="Sign Up"
            routerLink="/register"
            class="p-button-success"
          ></button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="grid p-8 ml-8" *ngIf="userIntaitedLogin">
  <div class="col">
    <p-card>
      <ng-template pTemplate="header">
        <p-image
          src="../assets/GoogleAuth.png"
          alt="Image"
          width="100"
          height="250"
        ></p-image>
      </ng-template>

      <div class="card">
        <div class="field">
          <label for="authCode">Google Authenticator Code</label>
          <input
            id="authCode"
            pInputText
            [(ngModel)]="authCode"
            type="text"
            class="inputfield w-full"
          />
        </div>
      </div>
      <ng-template pTemplate="footer">
        <button (click)="submitAuthCode()">Submit</button>
        <button (click)="cancelLogin()">Cancel</button>
      </ng-template>
    </p-card>
  </div>
</div>
