<div class="grid">
  <div class="col-6">
    <p-card *ngFor="let product of cartsProducts">
      <ng-template pTemplate="header"> {{ product.name }} </ng-template>
      <div class="grid">
        <div class="col-6"></div>
      </div>
      <div class="grid">
        <div class="col-6">
          {{ product.description }}
        </div>
      </div>
      <ng-template pTemplate="footer">
        <button (click)="deleteItem(product.id)">Delete</button>
      </ng-template>
    </p-card>
  </div>
  <div class="col-6">
    <button [routerLink]="['/payment']">Checkout</button>
  </div>
</div>
