<div class="card bg-blue-100">
  <div
    class="
      flex flex-wrap
      md:justify-content-between
      justify-content-center
      card-container
      blue-container
    "
  >
    <div
      class="
        w-6rem
        h-3rem
        m-2
        surface-overlay
        font-bold
        flex
        align-items-center
        justify-content-center
        bg-blue-100
      "
    >
      <img
        routerLink="/index"
        src="../../assets/jay-cv-project.png"
        width="70"
        height="75"
      />
    </div>
    <div
      class="
        w-32rem
        h-3rem
        m-2
        surface-overlay
        font-bold
        flex
        align-items-center
        justify-content-center
        bg-blue-100
      "
    >
      <span class="p-input-icon-right">
        <i class="pi pi-search" (click)="searchProduct()"></i>
        <input
          type="text"
          pInputText
          [(ngModel)]="searchValue"
          placeholder="Search"
          pInputText
          class="p-inputtext-sm w-24rem"
        />
      </span>
    </div>
    <div
      class="
        w-6rem
        h-3rem
        m-2
        surface-overlay
        font-bold
        flex
        align-items-center
        justify-content-center
        bg-blue-100
      "
    >
      <div class="grid m-0">
        <div class="col-6">
          <img
            src="https://www.w3schools.com/howto/img_avatar.png"
            alt="Avatar"
            class="avatar"
          />
        </div>
        <div class="col-6">
          <p style="font-size: 13px; margin-left: 5px">
            {{ getUsername() }}
          </p>
        </div>
      </div>
    </div>
    <div
      class="
        border-double border-blue-500
        w-12rem
        h-3rem
        m-2
        surface-overlay
        font-bold
        flex
        align-items-center
        justify-content-center
        bg-blue-100
      "
    >
      <i
        style="font-size: 30px; cursor: pointer"
        class="pi pi-shopping-cart"
        (click)="checkoutUser()"
      >
        <span class="badge badge-dark badge-pill" style="font-size: 0.4em">
          {{ numberOfItemsInCart }}
        </span>
      </i>
    </div>
  </div>
</div>
