<div class="row g-0" style="background-color: #4a6b8a; color: white">
  <div class="col-1">
    <img
      src="../../assets/jay-cv-project.png"
      width="70"
      height="75"
      class="d-inline-block align-top"
      alt=""
    />
  </div>
  <div class="col-7" style="margin-top: 1%">
    <div class="input-group input-group-sm mb-3">
      <input type="text" class="form-control" placeholder="Search" />
      <div class="input-group-append">
        <button class="btn btn-primary" type="submit">
          <i class="bi bi-binoculars-fill"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-2" style="margin-top: 1%">
    <div class="row">
      <div class="col-2">
        <img
          src="https://www.w3schools.com/howto/img_avatar.png"
          alt="Avatar"
          class="avatar"
        />
      </div>
      <div class="col-2">
        <p style="font-size: 13px; margin-left: 5px">
          {{ getUsername() }}
        </p>
      </div>
    </div>
  </div>
  <div class="col-2" style="margin-top: 1%">
    <i style="font-size: 30px" class="bi bi-cart">
      <span class="badge badge-dark badge-pill" style="font-size: 0.4em">
        9
      </span>
    </i>
  </div>
</div>
